@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Variable.woff2');
}