// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/fonts';
@import 'abstracts/typography';

// Functional styles
div, header, footer{
    // border: 1px solid blue;
}

.row{
    // border: 1px solid red;
}

[class^="col"]{
    // border: 1px solid green;
}

// End Functional styles
body{
    font-family: $sans-serif;
    font-size: $html-font-size;

}

#top-header{
    position: fixed;
    width: 100%;
    background-color: $darkBlue;
    height: 50px;
}

#main{
    // padding-top: 50px;
    background-image: linear-gradient(90deg, $darkBlue 50%, #fff 0);

    #entry{
        order: 2;
        padding-top: 50px;
        background-color: white;

        h1.entry-heading{
            display: none;
        }

        .grammar-class-wrapper{
            // border: 1px solid violet;
            padding-top: 1.5rem;
            align-items: baseline;

            .grammar-class-heading h2{
                @include grammarClassEntry;
            }

            .grammar-class-numeration{
                // font-size: 1rem;
                padding: 0.5rem;
                background-color: lightgrey;
            }     

            .grammar-class{
                @include featured;
            }
    
        }

        .sense-item{
            padding-top: 1rem;

    
            .sense-basics{

                .sense-intro-wrapper{

                    h3{
                        @include entrySubheading;

                    }

                    .as-in-word{
                        font-style: italic;
                    }
                }

                .sense-description,
                .sense-example{
                    margin-bottom: 0;
                }

                .sense-example{
                    padding-left: 1rem;
                    border-left: 2px solid $grey;
                    color: $grey;
                }
            }

            .synonyms-list,
            .similars-list,
            .relateds-list,
            .antonyms-list,
            .near-antonyms-list,
            .opposites-list{
                margin-left: 0;
            }

            .related-term-wrapper{
                padding: .25rem;

                .related-term-item{
                    @include relatedTerm;
                }
            }
        
            .synonyms-etc-wrapper{
                padding-top: 2rem;

                .synonyms-similars-heading{
                    @include entrySubheading;
                }

                .synonyms-item{
                    background-color: $synonym;
                    color: white;
                }

                .relateds-item{
                    background-color: $related;
                    color: $similars-text;
                }
            }

            .antonyms-etc-wrapper{
                padding-top: 2rem;

                .antonyms-heading{
                    @include entrySubheading;
                }

                .antonyms-item{
                    background-color: $antonym;
                    color: white;
                }

                .near-antonyms-item{
                    background-color: $nearAntonym;
                    color: $nearAnt-text;
                }

            }
            
        }
        #related-phrases{
            padding-top: 2rem;
            .heading-wrapper{
                background-color: $lightgrey;
                .related-phrases-heading{
                    @include featured;
                    
                }
            }
            
            .phrase-item{
                text-decoration: none;
            }
        }
        
    }

    #left-sidebar{
        order: 1;
        position: sticky;
        top: 50px;
        height: 100%;
    
        color: white;
        font-size: 1.25rem;
    
        .as-in-list-wrapper{
            border-left:1px solid #c5a332;
        }
    
        .grammar-class{
            font-family: $serif;
            font-weight: bold;
            color: #c5a332 !important;
    
            margin-bottom: 0;
            padding-left: .5rem;
        }
    
        .list-group-item-action{
            color: white !important;
            background-color: transparent !important;
            text-decoration: none;
    
            padding-left: 1rem;
    
            &.active{
                background-color: #e96802 !important;
            }
    
            &:last-child{
                border-radius: 0;
            }
    
            .as-in-word{
                font-weight: bold;
                font-style: italic;
            }
        }   
    }
    
    
}


