// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

// Imports
// Abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/fonts';
@import 'abstracts/mixins';
@import 'abstracts/typography';

// Partials
@import 'partials/header.scss';
@import 'partials/as-in-nav.scss';
@import 'partials/variations';
@import 'partials/footer.scss';

// Pages
@import 'pages/home';
@import 'pages/results';
@import 'pages/sugestions';

body{
    font-family: $sans-serif;
    font-size: $html-font-size;

    .global-wrapper{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}


