// Fonts
$sans-serif: "OpenSans", sans-serif;
$serif: 'Playfair Display', 'Times New Roman', Times, serif;


// Colors
$black: #212529;
$darkGrey: #303336;
$grey: #8a8d91;
$lightgrey: #f4f4f4;
$white: #fff;

$darkerBlue: #0f3850;
$darkBlue: #133f59;
$gold: #c5a332;

$synonym: #f75b00;
$similar: #fdceaa;
$related: #fef0e6;
$similars-text: #a33c00;

$antonym: #0061f2;
$nearAntonym: #cce3fe;
$nearAnt-text: #004eaf;