<%- include('partials/header.ejs')%>

<div class="container">
    <h1>Welcome to my Dictionary</h1>
    <h2>Search for a word </h2>
    
    <%- include('partials/form.ejs') %>
</div>



<%- include('partials/footer.ejs')%>