<% const currentYear = new Date().getFullYear() %>

<footer>
    ©Juan Manuel Linares <%= currentYear %>
    Thesaurus data by Merriam Webster (https://www.merriam-webster.com/). 
</footer>
    
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>