<% const currentYear = new Date().getFullYear() %>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>© Juan Manuel Linares <%= currentYear %></p>
                <p>Thesaurus data by <a href="https://www.merriam-webster.com/" target="_blank">Merriam Webster</a>, from the <a href="https://dictionaryapi.com/products/api-collegiate-thesaurus" target="_blank">Merriam Webster Collegiate® Thesaurus API</a></p> 
            </div>
        </div>
    </div>
</footer>
    
<script src="/js/bootstrap.bundle.min.js"></script>
<script>
    // Initializing Bootstraps tooltips (must be done in the HTML)
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>

</html>