<header>
    <form action="/search" method="post">
        <input type="text" name="search" placeholder="Search ..." required>
        <button type="submit">Search</button>
        <a type="button" href="/">Home</a>
    </form>
</header>
