<header id="top-header">
    <div class="container">
        <div class="row header-wrapper">
            <div class="col">
                <form action="/search" method="post">
                    <input type="text" name="search" placeholder="Search ..." required>
                    <button type="submit">Search</button>
                    <a type="button" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</header>
