<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Merriam-Webster Dictionary</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
</head>
<body data-bs-spy="scroll" data-bs-target="#as-in-list" data-bs-smooth-scroll="true" data-offset="0" class="scrollspy-example" tabindex="0">
    