
<% const phrases = []; %>

<% results.map((result) => { %>
    <% if(result.meta.id !== entry){ // use different logic? %>
        <% phrases.push(result.meta.id); %>
    <% } 
}); %>

<%# if the array contains phrases %>
<% if(phrases.length > 0){ %>
    <div id="related-phrases" class="container-fluid related-phrases-wrapper">
        <div class="row heading-wrapper">
            <h3 class="related-phrases-heading">Phrases containing <em><%= entry %></em></h3>
        </div>
        <div class="row related-phrases-list">
        <% phrases.map((phrase) => { %>
            <div class="col-4 phrase-item-wrapper">
                <a href="/<%= phrase %>" class="phrase-item"><%= phrase %></a>
            </div>
        <% }) %>
        </div>
    </div>
<% } %>
