// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

div, header, footer{
    border: 1px solid blue;
}

#top-header{
    position: fixed;
    width: 100%;
    background-color: brown;
    height: 50px;
}

#results-content{
    // max-width: 850px;
    padding-top: 50px;

    #left-sidebar{
        order: 1;
        position: sticky;
        top: 50px;
        height: 100%;
    }
    
    #entry{
        order: 2;

        .grammar-class-wrapper{
            border: 1px solid violet;
        
            .sense-item{
                border-color: red;
        
                .sense-basics{
                    background-color: aquamarine;
                }
        
                .synonyms-et-altri-item{
                    background-color: bisque;
        
                    .synonyms-list{
                        background-color: bisque;
                    }
                    .similars-list{
                        background-color: rgb(242, 186, 118);
                    }
                    .relateds-list{
                        background-color: rgb(250, 164, 58);
                    }
                }
                .antonyms-et-altri-item{
        
                    .antonyms-item{
                        background-color: rgb(153, 241, 244);
                        
                    }
                    .near-antonyms-item{
                        background-color: rgb(77, 249, 255);
                    }
        
                    .opposites-item{
                        background-color: rgb(16, 247, 255);
                    }
                }
                
            }
        }
    }

    
}

