// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

div, header, footer{
    border: 1px solid blue;
}

#top-header{
    position: fixed;
    width: 100%;
    background-color: brown;
    height: 50px;
}

#results-content{

    // .container{
        max-width: 850px;
    // }
}

#left-sidebar{
    position: fixed;
    top: 50px;
    height: 100%;
}

.grammar-class-wrapper{
    border: 1px solid violet;

    .sense-item{
        border-color: red;

        .sense-basics{
            background-color: aquamarine;
        }

        .synonyms-similars-item{
            background-color: bisque;
        }

        .antonyms-item{
            background-color: rgb(153, 241, 244);
        }
    }
}