// Imports
@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/typography';

footer#footer{
    height: 150px;
    padding:{
        top: 40px;
        bottom: 20px;
    }
    background-color: $darkGrey;
    color: $white;
    font-size: remify(14px);

    a{
        color: $synonym;
    }
}