// Imports
@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/typography';

#top-header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: $black;
    min-height: 50px;

    // box-shadow: 0 10px $black;

    /* div{
        border: 1px solid red;
    } */

    a.navbar-brand{
        @include grammarClassEntry;
        font-size: remify(18px);
        color: $white;
    }

    form.search-form{
        background-color: $white;
        border: none;
        border-radius: .5rem;

        input.search-input{
            border: none;

            &:focus{
                box-shadow: none;
            }
        }

        button.search-button{
            background-color: $synonym;
            border: none;
            margin: .15rem;

            img.search-icon{
                filter: invert(1);
            }
        }
    }
}