// Imports
@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/typography';

#top-header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: $darkBlue;
    min-height: 100px;

    box-shadow: 0 10px $black;

    div{
        border: 1px solid red;
    }

    .header-wrapper{
        padding: 1rem 0;
    }
}