// Imports
@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/typography';

#left-sidebar{
    order: 1;
    position: sticky;
    top: 50px;
    min-width: remify(225px);
    height: 100%;
    padding-top: 30px;

    color: white;
    font-size: remify(18px);

    /* div{
        border: 1px solid green;
    } */

    .sidebar-title{
        @include grammarClassEntry;
        font-size: remify(30px);
        color: $gold;
    }

    .sidebar-intro{
        font-size: remify(17px);
        font-weight: 100;
        margin-bottom: remify(20px);

        .entry-word{
            color: $white;
            font-weight: bold;
            font-style: italic;
            padding-left: .25rem;
        }

    }

    .as-in-list-wrapper{
        // border-left:1px solid $gold;

        #as-in-list{
            border-left: 3px solid $gold;
            border-radius: 0;

            .grammar-class{
                font-family: $serif;
                font-weight: bold;
                color: $gold !important;
        
                margin-bottom: .5rem;
                padding-left: .5rem;
            }
        
            .list-group-item-action{
                color: #cbe1ea;
                display: flex;
                margin-right: 12px;
                padding: 5px 0px 6px 12px;
                white-space: nowrap;
                font-weight: 400;
                line-height: remify(24px);
                min-height: remify(36px);
                text-decoration: none;
        
                &.active{
                    position: relative;
                    background-color: #e96802 !important;
        
                    &::before,
                    &::after{
                        display: block;
                        position: absolute;
                        top: 0;
                    }
        
                    &::before{
                        content: url('/img/sidebar-nav-item-icon.svg');
                        left: 0;
                    }
        
                    &::after{
                        content: url('/img/orange-ribbon.svg');
                        right: remify(-20px);
                    }
                }
        
                &:last-child{
                    border-radius: 0;
                }
        
                &:hover:not(.active){
                    background: rgba(0,0,0,.169);
                }
        
                .as-in-word{
                    color: $white;
                    font-weight: bold;
                    font-style: italic;
                    padding-left: .25rem;
                }
            }  
        }
    }

     
}