// Imports
@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/typography';

#top-navbar{
    position: fixed;
    top: 70px;
    background-color: $white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1);
}